@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@plugin "daisyui" {
  themes: light --default
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  
}

.btn-primary {
  @apply text-white border-none bg-gradient-to-r from-[#fc8d5979] to-[#353e9193];
}


.btn-primary:hover {
  @apply opacity-87 bg-gradient-to-r from-[#fa5c2c56] to-[#4856d493];
}

/* Font  */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Hero car image animation */

@keyframes hero-car {
  0% {
    transform: translateX(80%);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}

.hero-car-image {
  animation: hero-car 4s linear  forwards;
}





